<template>
  <div class="home" id="home">
    <main>
      <Nav></Nav>

      <Welcome class="panel" data-color="gray" />
      <About class="panel" data-color="fuchsia" />
      <Jobs class="panel" data-color="purple" />
      <Projects class="panel" data-color="blue" />
      <Contact class="panel" data-color="lettuce" />
    </main>
  </div>
</template>

<script>
import Nav from './homeСomponents/Nav.vue';
import Welcome from './homeСomponents/Welcome.vue';
import About from './homeСomponents/About.vue';
import Jobs from './homeСomponents/Jobs.vue';
import Projects from './homeСomponents/Projects.vue';
import Contact from './homeСomponents/Contact.vue';

export default {
  name: 'Home',

  components: {
    Welcome,
    About,
    Jobs,
    Projects,
    Contact,
    Nav,
  },

  // FOR CHANGING THE BACKGROUND COLOR WHEN SCROLLING
  data() {
    return {
      home: null,
      panels: null,
    };
  },

  mounted() {
    this.home = document.getElementById('home');
    this.panels = document.getElementsByClassName('panel');

    window.addEventListener('scroll', () => {
      let scroll = window.scrollY + window.innerHeight / 2;

      this.panels.forEach((element) => {
        if (
          element.offsetTop <= scroll &&
          element.offsetTop + element.offsetHeight > scroll
        ) {
          let classes = [];
          this.home.classList.forEach((el) => {
            if (el.match(/(^|\s)color-\S+/)) {
              classes.push(el);
            }
          });

          this.home.classList.remove(...classes);

          this.home.classList.add('color-' + element.dataset.color);
        }
      });
    });
  },
};
</script>

<style lang="scss">
.home {
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 60px;
  padding: 0 $size-15 $size-20;

  transition: background-color 1s ease;

  @media (min-width: 1025px), (min-height: 667px) and (orientation: landscape) {
    margin-bottom: 0;
    padding: 0 calc(25vw - $size-40) $size-30 $size-40;
  }

  .hashtag {
    font-size: $size-15;
    letter-spacing: $size-1;
    font-weight: 200;
    color: $color-primary;

    @media (min-width: 1024px) and (orientation: landscape),
      (min-height: 667px) and (orientation: landscape) {
      font-size: $size-18;
    }
  }
}
</style>
