<template>
  <div class="logo">
    <router-link :to="'/'" class="btns_next" @click="scrollToTop()">
      <svg viewBox="0 0 297 216" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M53.725 51.45L51.7745 51.8921L52.1276 53.45H53.725V51.45ZM121.079 51.45V53.45H122.676L123.03 51.8921L121.079 51.45ZM130.701 9V7H129.104L128.75 8.55788L130.701 9ZM169.755 9L171.7 9.46412L172.288 7H169.755V9ZM122.494 207.1V209.1H124.073L124.439 207.564L122.494 207.1ZM52.31 207.1L50.3646 207.564L50.731 209.1H52.31V207.1ZM5.049 9V7H2.51573L3.1036 9.46412L5.049 9ZM44.103 9L46.0535 8.55788L45.7004 7H44.103V9ZM113.155 87.108L115.105 87.5545L115.665 85.108H113.155V87.108ZM61.932 87.108V85.108H59.4289L59.9813 87.5494L61.932 87.108ZM84.855 188.422L82.9043 188.863L83.257 190.422H84.855V188.422ZM89.949 188.422V190.422H91.5427L91.8985 188.869L89.949 188.422ZM53.725 53.45L121.079 53.45V49.45L53.725 49.45V53.45ZM123.03 51.8921L132.652 9.44212L128.75 8.55788L119.128 51.0079L123.03 51.8921ZM130.701 11H169.755V7H130.701V11ZM167.81 8.53588L120.549 206.636L124.439 207.564L171.7 9.46412L167.81 8.53588ZM122.494 205.1H52.31V209.1L122.494 209.1V205.1ZM54.2554 206.636L6.9944 8.53588L3.1036 9.46412L50.3646 207.564L54.2554 206.636ZM5.049 11H44.103V7H5.049V11ZM42.1525 9.44212L51.7745 51.8921L55.6755 51.0079L46.0535 8.55788L42.1525 9.44212ZM113.155 85.108H61.932V89.108H113.155V85.108ZM59.9813 87.5494L82.9043 188.863L86.8057 187.981L63.8827 86.6666L59.9813 87.5494ZM84.855 190.422H89.949V186.422H84.855V190.422ZM91.8985 188.869L115.105 87.5545L111.205 86.6615L87.9995 187.975L91.8985 188.869Z"
          fill="#BDBDBD"
        />
        <path
          d="M242.4 165.8H173.856L164.064 209H124.32L172.416 7.39999H243.84L291.936 209H252.192L242.4 165.8ZM181.92 129.512H234.048L210.72 26.408H205.536L181.92 129.512Z"
          fill="#1D1D1D"
        />
      </svg>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Logo',

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss">
.logo {
  width: 15vw;

  fill: $color-secondary;

  @media (min-width: 480px) {
    width: 8vw;
  }
  @media (min-width: 1024px) and (orientation: landscape) {
    width: 4vw;
  }
}
</style>
