<template>
  <div class="projectLayout" id="projectLayout">
    <Logo></Logo>

    <div class="projectLayout__panel panel" data-color="gray">
      <router-view class="panel__content"></router-view>
    </div>

    <Contact class="panel" data-color="lettuce" />
  </div>
</template>

<script>
import Logo from './Logo.vue';
import Contact from './homeСomponents/Contact.vue';

export default {
  name: 'ProjectLayout',

  data() {
    return {
      projectLayout: null,
      panels: null,
    };
  },

  components: {
    Logo,
    Contact,
  },

  mounted() {
    this.projectLayout = document.getElementById('projectLayout');
    this.panels = document.getElementsByClassName('panel');

    window.addEventListener('scroll', () => {
      let scroll = window.scrollY + window.innerHeight / 1;
      this.panels.forEach((element) => {
        if (
          element.offsetTop <= scroll &&
          element.offsetTop + element.offsetHeight > scroll
        ) {
          let classes = [];
          this.projectLayout.classList.forEach((el) => {
            if (el.match(/(^|\s)color-\S+/)) {
              classes.push(el);
            }
          });

          this.projectLayout.classList.remove(...classes);

          this.projectLayout.classList.add('color-' + element.dataset.color);
        }
      });
    });
  },
};
</script>

<style lang="scss">
.projectLayout {
  padding: 5vh $size-15;

  transition: background-color 1s ease;

  @media (min-width: 768px) {
    padding: 5vh $size-40;
  }

  .panel__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      text-align: center;
    }

    // HEADING
    .heading {
      margin: 5vh 0vw 0;

      letter-spacing: $size-1;

      @media (min-width: 1024px) {
        max-width: 80%;
      }
      @media (min-width: 1440px) {
        max-width: 60%;
      }

      h1 {
        font-size: $size-15;
        font-weight: 600;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: $size-25;
        }
      }
      h2 {
        font-size: $size-12;
        font-weight: 500;

        @media (min-width: 768px) {
          font-size: $size-15;
        }
      }
    }

    // MOCKUP
    .mockup {
      margin: 5vh 0vw 0;
      position: relative;

      @media (min-width: 1024px) {
        max-width: 90%;
      }
      @media (min-width: 1440px) {
        max-width: 70%;
      }
      .mockup_des {
        width: 100%;
      }
      .mockup_mob {
        position: absolute;
        height: 80%;
        left: 80%;
        bottom: 0;
      }
      .mockup_tab {
        position: absolute;
        height: 80%;
        left: 66%;
        bottom: 0;
      }
    }

    // FEATURES
    .features {
      margin: 10vh 0vw 0;

      @media (min-width: 1024px) {
        max-width: 80%;
      }
      @media (min-width: 1440px) {
        max-width: 60%;
      }

      h1 {
        font-size: $size-16;
        font-weight: 900;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: $size-24;
        }
      }

      h2 {
        font-size: $size-14;
        font-weight: 600;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: $size-18;
        }
      }

      p {
        font-size: $size-12;
        font-weight: 400;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: $size-16;
        }
      }
    }

    // LINKS
    .links {
      margin: 10vh 0vw 0;

      font-size: $size-10;
      font-weight: 600;
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: $size-16;
      }
      @media (min-width: 1024px) {
        max-width: 80%;
      }
      @media (min-width: 1440px) {
        max-width: 60%;
      }
    }

    // BUTTONS
    .btns {
      margin-top: 10vh;
      display: flex;
      justify-content: space-between;
      width: 100%;

      text-align: center;
      @media (min-width: 1024px) {
        margin-top: 20vh;
      }

      a {
        font-size: $size-10;
        letter-spacing: $size-3;
        font-weight: 400;
        color: $color-secondary;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: $size-15;
        }
      }
    }
  }
}
</style>
