<template>
  <div id="about" class="about">
    <h2 class="about__hashtag hashtag">&#60;about&#62;</h2>

    <div class="about__content">
      <picture>
        <source srcset="../../assets/about-img.webp" type="image/webp" />
        <source srcset="../../assets/about-img.png" type="image/png" />
        <img srcset="../../assets/about-img.png" />
      </picture>

      <p>Hi!</p>
      <p>
        I'm in the IT field for the 2nd year and I strive to make adaptable
        websites in which movement, interaction and design are perfectly
        integrated to form a unique experience.
      </p>
      <p>
        I think soft skills are no less important component of the developer's
        work. I appreciate the work of all team members and and am happy to
        contribute to the final products.
      </p>
      <p>
        <v-typical
          class="blink"
          :steps="[
            'My skills: HTML',
            1000,
            'My skills: CSS',
            1000,
            'My skills: SCSS',
            1000,
            'My skills: JavaScript',
            1000,
            'My skills: Vue',
            1000,
            'My skills: Vuex',
            1000,
            'My skills: GIT',
            1000,
          ]"
          :loop="Infinity"
        ></v-typical>
      </p>
    </div>

    <h2 class="about__hashtag hashtag">&#60;/about&#62;</h2>
  </div>
</template>

<script>
import VTypical from 'vue-typical';

export default {
  name: 'About',
  components: {
    VTypical,
  },
};
</script>

<style lang="scss">
.about {
  @media (min-width: 480px) {
    margin-top: 12.5vh;
    padding-top: 2.5vh;
  }
  @media (min-width: 1440px) and (max-height: 1024px),
    (min-height: 1024px) and (orientation: landscape) {
    margin-top: 19vh;
    padding-top: 1vh;
  }

  // CONTENT
  .about__content {
    display: grid;
    grid-template-areas:
      'img .'
      'img .'
      'img .'
      'img .';
    grid-template-columns: max-content 1fr;
    padding: 7% 0 7% 5%;

    p {
      margin: 2% 0 $size-12 3%;
      padding: $size-10;
      width: fit-content;

      font-size: $size-16;
      color: $color-secondary;
      background: $bg-cards;

      @media (min-width: 1000px) {
        font-size: $size-18;
      }
    }

    // IMG
    picture {
      grid-area: img;
      img {
        width: 15vw;
        max-width: 200px;

        border-radius: 100px;
      }
    }
  }
}

.blink::after {
  content: '|';
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
</style>
