<template>
  <div id="contact" class="contact">
    <h3 class="contact__heading">You can watch and contact me</h3>

    <div class="contact__ways">
      <a
        :href="way.link"
        target="_blank"
        class="contact__ways_instance"
        v-for="way in ways"
        :key="way"
      >
        <p>{{ way.title }}</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <path
            d="M 25 2 C 12.316406 2 2 12.316406 2 25 C 2 37.683594 12.316406 48 25 48 C 37.683594 48 48 37.683594 48 25 C 48 12.316406 37.683594 2 25 2 Z M 37 26 L 15.414063 26 L 21.707031 32.292969 C 22.097656 32.683594 22.097656 33.316406 21.707031 33.707031 C 21.511719 33.902344 21.257813 34 21 34 C 20.742188 34 20.488281 33.902344 20.292969 33.707031 L 12.292969 25.707031 C 12.199219 25.613281 12.128906 25.503906 12.078125 25.382813 C 11.976563 25.136719 11.976563 24.863281 12.078125 24.617188 C 12.128906 24.496094 12.199219 24.386719 12.292969 24.292969 L 20.292969 16.292969 C 20.683594 15.902344 21.316406 15.902344 21.707031 16.292969 C 22.097656 16.683594 22.097656 17.316406 21.707031 17.707031 L 15.414063 24 L 37 24 C 37.554688 24 38 24.449219 38 25 C 38 25.550781 37.554688 26 37 26 Z"
          ></path>
        </svg>
      </a>
    </div>

    <p class="contact__copyright">&#9400; 2021, Alena Arkhipova</p>
  </div>
</template>

<script>
export default {
  name: 'Contact',

  data() {
    return {
      ways: [
        {
          link: 'https://gitlab.com/Arkhipova',
          title: 'GitLab',
        },
        {
          link: 'https://t.me/alenarhi',
          title: 'Telegram',
        },
        {
          link: 'mailto:aalenarhi@gmail.com',
          title: 'Mail',
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.contact {
  margin-top: 8vh;
  padding-top: 2vh;
  overflow: auto;

  @media (orientation: landscape) {
    margin-top: 17.5vh;
    padding-top: 2.5vh;
  }

  // HEADING
  .contact__heading {
    font-size: $size-16;
    letter-spacing: $size-1;
    font-weight: 600;
    color: $color-secondary;

    @media (min-width: 768px) {
      font-size: $size-18;
    }
  }

  // WAYS
  .contact__ways {
    display: flex;
    flex-direction: column;
    padding: 7% 0 7% 0;

    @media (min-width: 1024px) and (orientation: landscape),
      (min-height: 667px) and (orientation: landscape) {
      flex-direction: row;
    }

    .contact__ways_instance {
      padding: $size-36 $size-15;
      display: flex;
      justify-content: space-between;

      border: 1px solid $color-secondary;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      @media (min-width: 1024px) and (orientation: landscape),
        (min-height: 667px) and (orientation: landscape) {
        padding: $size-60 $size-15;
        width: 33%;
      }
      p {
        margin: 0;
        width: max-content;

        font-size: $size-12;
        color: $color-secondary;
        text-transform: uppercase;
        font-weight: 800;

        @media (min-width: 300px) {
          font-size: $size-16;
        }
        @media (min-width: 1024px) and (orientation: landscape),
          (min-height: 667px) and (orientation: landscape) {
          font-size: $size-20;
        }
      }
      svg {
        width: $size-25;
        height: $size-25;

        fill: $color-secondary;
        transform: rotate(0.4turn);

        @media (min-width: 1024px) and (orientation: landscape),
          (min-height: 667px) and (orientation: landscape) {
          width: $size-25;
          height: $size-25;
          opacity: 0;

          fill: $color-tertiary;
        }
      }
    }

    .contact__ways_instance:hover {
      @media (min-width: 1024px) and (orientation: landscape),
        (min-height: 667px) and (orientation: landscape) {
        background-color: $color-secondary;
        width: 50%;

        p {
          color: $color-tertiary;
        }

        svg {
          opacity: 1;
        }
      }
    }

    .contact__ways_instance:not(:last-child) {
      margin-bottom: $size-16;

      @media (min-width: 1024px) and (orientation: landscape),
        (min-height: 667px) and (orientation: landscape) {
        margin-bottom: 0;
        margin-right: $size-25;
      }
    }
  }

  // COPYRIGHT
  .contact__copyright {
    float: right;
  }
}
</style>
