<template>
  <div id="jobs" class="jobs">
    <!-- HEADING -->
    <h1 class="jobs__heading">Where I’ve Worked</h1>

    <div class="jobs__tabs">
      <!-- TABS TITLE -->
      <div class="jobs__tabs_title">
        <div
          v-for="tab in tabs"
          :key="tab"
          @click="selectedTab = tab.title"
          :class="{ active: selectedTab == tab.title }"
          class="jobs__tabs_title-item"
        >
          <h2>{{ tab.title }}</h2>
        </div>
      </div>

      <!-- SKYENG -->
      <div class="jobs__tabs_content">
        <div v-if="selectedTab == 'Skyeng'">
          <h2 class="tab-content__header">
            Layout designer
            <a href="https://skysmart.ru/" target="_blank">@Skyeng</a>
          </h2>

          <h3>November 2020 – July 2021</h3>

          <ul>
            <li>layout and debugging of other people's code</li>
            <li>helping newcomers and teams on other projects</li>
            <li>retouching materials</li>
            <li>reporting in Jira</li>
          </ul>
        </div>

        <!-- UNIUM -->
        <div v-if="selectedTab == 'Unium'">
          <h2 class="tab-content__header">
            Teacher <a href="https://unium.ru/" target="_blank">@Unium</a>
          </h2>

          <h3>August 2020 – November 2020</h3>

          <p>
            Courses "Frontend - development" and "3D modeling".
            <br />
            What did the students get during this time on the "Frontend -
            development" course:
          </p>

          <ul>
            <li>confident knowledge of HTML, CSS</li>
            <li>understanding working with GIT</li>
            <li>basics of prototyping, ability to work in graphic editors</li>
            <li>
              a general idea of IT, understanding how to properly search for
              information and set up a work environment for comfortable work
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: [
        {
          title: 'Skyeng',
        },
        {
          title: 'Unium',
        },
      ],

      selectedTab: 'Skyeng',
    };
  },
  methods: {
    selectTab() {
      this.selectedTab = this.tab.title;
    },
  },
};
</script>

<style lang="scss">
.jobs {
  margin-top: 5vh;
  padding-top: 5vh;

  @media (orientation: landscape) {
    margin-top: 1vh;
    padding-top: 19vh;
  }

  h2 {
    font-size: $size-14;

    @media (min-width: 768px) {
      font-size: $size-16;
    }
  }

  // HEADING
  .jobs__heading {
    font-size: $size-18;
    letter-spacing: $size-1;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-primary;

    @media (min-width: 768px) {
      font-size: $size-22;
    }

    @media (min-width: 1000px) {
      font-size: $size-30;
    }
  }

  // TABS
  .jobs__tabs {
    padding: 7% 0 0 5%;
    display: flex;
    flex-direction: column;

    color: $color-primary;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    // TITLE
    .jobs__tabs_title {
      display: flex;
      @media (min-width: 768px) {
        display: initial;
      }
      .jobs__tabs_title-item {
        padding: $size-10;

        border-top: 5px solid $color-primary;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover,
        &.active {
          color: $color-tertiary;
          border-top: 5px solid $color-tertiary;
        }

        @media (min-width: 768px) {
          padding: $size-20;

          border-left: 5px solid $color-primary;
          border-top: none;

          &:hover,
          &.active {
            border-left: 5px solid $color-tertiary;
            border-top: none;
          }
        }
      }
    }

    // CONTENT
    .jobs__tabs_content {
      @media (min-width: 768px) {
        padding: $size-20;
      }

      a {
        color: $color-tertiary;
      }

      ul {
        margin-top: 5vh;
        list-style-type: square;

        li {
          font-size: $size-12;

          @media (min-width: 768px) {
            font-size: $size-14;
          }
        }
      }

      h3,
      p {
        font-size: $size-10;

        @media (min-width: 768px) {
          font-size: $size-12;
          font-weight: normal;
        }
      }
    }
  }
}
</style>
