<template>
  <nav class="nav">
    <div class="nav__wrap">
      <button v-on:click="goTo()">MENU</button>

      <transition name="fadeMenu">
        <ul v-if="showMenu">
          <a href="#about" v-on:click="goTo()"><li>About</li></a>
          <a href="#jobs" v-on:click="goTo()"><li>Jobs</li></a>
          <a href="#projects" v-on:click="goTo()"><li>Projects</li></a>
          <a href="#contact" v-on:click="goTo()"><li>Contact</li></a>
        </ul>
      </transition>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Nav',

  data() {
    return {
      width: window.innerWidth,
      height: window.innerHeight,

      showMenu:
        window.innerWidth <= window.innerHeight ||
        (window.innerHeight <= 667 && window.innerWidth >= window.innerHeight)
          ? false
          : true,
    };
  },

  methods: {
    goTo() {
      if (
        this.width <= this.height ||
        (this.height <= 667 && this.width >= this.height)
      ) {
        this.showMenu = !this.showMenu;
      }
    },
  },

  // For automatic updates
  created() {
    window.addEventListener('resize', () => {
      this.width = window.innerWidth;
      this.height = window.innerHeight;

      this.showMenu =
        this.width < this.height ||
        (this.height <= 667 && this.width > this.height)
          ? false
          : true;
    });
  },
};
</script>

<style lang="scss">
.nav {
  position: fixed;
  width: 100vh;
  transform: rotate(90deg);
  transform-origin: bottom right;
  bottom: 0;
  right: 7vw;

  @media (orientation: portrait),
    (max-height: 667px) and (orientation: landscape) {
    right: 0;
    bottom: unset;
    z-index: 2;
    width: 100vw;
    transform: none;
  }

  .nav__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    // MOBILE BUTTON
    button {
      display: none;

      @media (orientation: portrait),
        (max-height: 667px) and (orientation: landscape) {
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100vw;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        color: $color-primary;
        background: $color-secondary;
      }
    }

    // NAV
    ul {
      padding: 0 5vh;
      width: -webkit-fill-available;
      display: flex;
      justify-content: space-between;

      @media (orientation: portrait),
        (max-height: 667px) and (orientation: landscape) {
        margin: 0;
        padding: 0 3vh;
        height: calc(100vh - 60px);
        display: block;
        text-align: center;
        overflow: scroll;

        background-color: $bg-nav;
        transition: all 0.5s ease;
      }

      a {
        font-size: $size-20;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-secondary;
        transition: all 0.5s ease;

        &:hover {
          color: $color-nav;
        }

        @media (orientation: portrait),
          (max-height: 667px) and (orientation: landscape) {
          font-size: $size-14;
        }

        li {
          display: inline-block;

          @media (orientation: portrait),
            (max-height: 667px) and (orientation: landscape) {
            padding: $size-36 0;
            display: block;

            border-bottom: 2px solid $color-nav;
            font-size: $size-20;
            color: $color-nav;
          }
        }
      }
    }
  }

  // SMOOTH SCROLLING
  .fadeMenu-enter-active,
  .fadeMenu-leave-active {
    @media (orientation: portrait),
      (max-height: 667px) and (orientation: landscape) {
      transition: all 1s ease;
    }
  }

  .fadeMenu-enter-from,
  .fadeMenu-leave-to {
    @media (orientation: portrait),
      (max-height: 667px) and (orientation: landscape) {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
}
</style>
