<template>
  <div id="projects" class="projects">
    <h2 class="projects__hashtag hashtag">&#60;projects&#62;</h2>

    <div class="projects__objects">
      <div
        class="projects__objects_instance"
        v-for="object in objects"
        :key="object"
        :style="{ border: ['1px solid'] + object.color }"
      >
        <div class="projects__objects_instance-wrap">
          <span>
            <p :style="{ color: object.color }">
              {{ object.number }}
            </p>

            <h2 :style="{ color: object.color }">
              {{ object.title }}
            </h2>
          </span>

          <router-link
            class="router-link"
            :to="object.link"
            :style="{ color: object.color }"
            @click="scrollToTop()"
            >Case study</router-link
          >
        </div>
      </div>
    </div>

    <h2 class="projects__hashtag hashtag">&#60;/projects&#62;</h2>
  </div>
</template>

<script>
export default {
  name: 'Projects',

  components: {},

  data() {
    return {
      objects: [
        {
          number: '01',
          title: 'My Portfolio Website',
          color: '#FAFF00',
          link: '/project/portfolio',
        },
        {
          number: '02',
          title: 'Fun Finder Service',
          color: '#6BFFF6',
          link: '/project/funfinder',
        },
        {
          number: '03',
          title: 'Todo list',
          color: '#FF9EF5',
          link: '/project/todolist',
        },
      ],
    };
  },

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss">
.projects {
  margin-top: 5vh;
  padding-top: 5vh;

  @media (orientation: landscape) {
    margin-top: 19vh;
    padding-top: 1vh;
  }

  .projects__objects {
    padding: 7% 0 7% 5%;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .projects__objects_instance {
      margin-bottom: $size-12;
      height: $size-350;
      display: flex;

      border: 1px solid $color-secondary;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:not(:last-child) {
        margin-bottom: $size-16;

        @media (min-width: 768px) {
          margin-bottom: 0;
          margin-right: $size-25;
        }
      }

      @media (min-width: 768px) {
        margin-bottom: 0;
        width: 33%;

        // CHANGE THE BACKGROUND COLOR ON HOVER FOR EACH
        &:nth-child(1) .projects__objects_instance-wrap:hover {
          background-color: #faff00;
        }
        &:nth-child(2) .projects__objects_instance-wrap:hover {
          background-color: #6bfff6;
        }
        &:nth-child(3) .projects__objects_instance-wrap:hover {
          background-color: #ff9ef5;
        }
      }

      // FOR ANIMATION
      .projects__objects_instance-wrap {
        padding: $size-16;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
          @media (min-width: 768px) {
            transform: rotate(-0.01turn);
            box-shadow: 12px 12px $bg-btn;

            p,
            h2,
            .router-link {
              color: $bg-projects !important;
            }
          }
        }

        @media (min-width: 768px) {
          padding: $size-15 $size-10;
        }

        p {
          margin: $size-10 0 $size-15 0;

          font-size: $size-18;
          color: $color-secondary;
        }
        h2 {
          margin: 0;

          font-size: $size-16;
          font-weight: 600;
          letter-spacing: $size-1;
          color: $color-secondary;
          word-wrap: break-word;

          @media (min-width: 300px) {
            word-wrap: normal;
            font-size: $size-22;
          }
        }
        .router-link {
          display: flex;
          flex: 1 1 auto;
          align-items: flex-end;

          font-size: $size-16;
          font-weight: 500;
          color: $color-secondary;
          text-transform: uppercase;
        }
      }
    }
  }
}
</style>
