<template>
  <div id="welcome" class="welcome">
    <Logo></Logo>

    <h1 class="welcome__heading heading">
      <span class="heading__line">Alena</span>
      <span class="heading__line">Junior</span>
      <span class="heading__line">Frontend</span>
      <span class="heading__line">developer</span>
    </h1>

    <div class="welcome__img">
      <picture>
        <source srcset="../../assets/dec.webp" type="image/webp" />
        <source srcset="../../assets/dec.png" type="image/png" />
        <img srcset="../../assets/dec.png" />
      </picture>
    </div>
  </div>
</template>

<script>
import Logo from '../Logo.vue';

export default {
  name: 'Welcome',

  components: { Logo },
};
</script>

<style lang="scss">
#welcome {
  padding: 5vh 0 0;
  min-height: 85vh;

  @media (min-width: 1024px) and (orientation: landscape),
    (min-height: 667px) and (orientation: landscape) {
    padding: 5vh 0 0;
  }

  // HEADING
  .welcome__heading {
    padding: 15vh 0 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
    grid-column: 1/-1;

    font-size: 14vw;
    font-weight: 600;
    letter-spacing: $size-3;
    line-height: 0.9;
    text-transform: uppercase;
    color: $color-secondary;

    @media (min-width: 1024px) and (orientation: landscape),
      (min-height: 667px) and (orientation: landscape) {
      padding: 10vh 0 0;
    }

    @media (orientation: landscape) {
      font-size: 9vw;
    }

    .heading__line {
      grid-column-end: 13;
      z-index: 1;
    }

    .heading__line:first-of-type {
      grid-column-start: 1;
    }
    .heading__line:nth-of-type(2) {
      grid-column-start: 1;
    }
    .heading__line:nth-of-type(3) {
      grid-column-start: 1;

      @media (orientation: landscape) {
        grid-column-start: 2;
      }
    }
    .heading__line:nth-of-type(4) {
      grid-column-start: 1;

      @media (orientation: landscape) {
        grid-column-start: 2;
      }
    }
  }

  // IMG
  .welcome__img {
    position: absolute;
    top: 30vh;
    right: 20vw;

    @media (orientation: landscape) {
      top: 50vh;
    }

    @media (min-width: 1024px) and (orientation: landscape),
      (min-height: 667px) and (orientation: landscape) {
      top: 30vh;
      right: 25vw;
    }

    source,
    img {
      width: 50vw;

      @media (orientation: landscape) {
        width: 25vw;
        height: 45vw;
      }
    }
  }
}
</style>
