<template>
  <div class="funFinder" id="funFinder">
    <div class="funFinder__heading heading">
      <!-- HEADING -->
      <h1>Fun Finder Service</h1>
      <h2>
        The project was created while studying at the network IT University
        project in order to create a storeroom for unique and little-known
        places in Perm.
      </h2>
    </div>

    <!-- MOCKUP -->
    <div class="funFinder__mockup mockup">
      <img
        src="../../assets/mockup-des-funfinder.svg"
        alt="Desktop mockup"
        class="mockup_des"
      />
      <img
        src="../../assets/mockup-mob-funfinder.svg"
        alt="Mobile mockup"
        class="mockup_mob"
      />
    </div>

    <!-- LINKS -->
    <div class="portfolio__links links">
      <p>
        Layout you can see in
        <a
          href="https://www.figma.com/file/m3J9RrwwmpWCPA2Q2AxbEH/Untitled?node-id=0%3A1"
          target="_blank"
          >Figma</a
        >.
      </p>
    </div>

    <!-- BUTTONS -->
    <div class="funFinder__btn btns">
      <router-link :to="'/'" class="btns_back" @click="scrollToTop()"
        >Back home</router-link
      >

      <router-link
        :to="'/project/todolist'"
        class="btns_next"
        @click="scrollToTop()"
        >Next case</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'Funfinder',

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss"></style>
