<template>
  <div class="portfolio" id="portfolio">
    <!-- HEADING -->
    <div class="portfolio__heading heading">
      <h1>My Portfolio Website</h1>
      <h2>Why not see all the work in one place?</h2>
    </div>

    <!-- CODEPEN -->
    <iframe
      scrolling="no"
      title="Changing the background color when scrolling"
      src="https://codepen.io/alenarhi/embed/WNOKBVy?default-tab=js%2Cresult&theme-id=dark"
      frameborder="no"
      loading="lazy"
      allowtransparency="true"
      allowfullscreen="true"
    >
      See the Pen
      <a href="https://codepen.io/alenarhi/pen/WNOKBVy">
        Changing the background color when scrolling</a
      >
      by Alena (<a href="https://codepen.io/alenarhi">@alenarhi</a>) on
      <a href="https://codepen.io">CodePen</a>.
    </iframe>

    <!-- FEATURES -->
    <!-- <div class="portfolio__features features">
      <h1>Features</h1>

      <h2></h2>
      <p></p>

      <h2></h2>
      <p></p>

      <h2></h2>
      <p></p>
    </div> -->

    <!-- LINKS -->
    <div class="portfolio__links links">
      <p>
        The code can you can see in
        <a href="https://gitlab.com/Arkhipova/portfolio" target="_blank"
          >GitLab</a
        >.
      </p>

      <p>
        Layout you can see in
        <a
          href="https://www.figma.com/file/m3J9RrwwmpWCPA2Q2AxbEH/Untitled?node-id=0%3A1"
          target="_blank"
          >Figma</a
        >.
      </p>
    </div>

    <!-- BUTTONS -->
    <div class="portfolio__btn btns">
      <router-link :to="'/'" class="btns_back" @click="scrollToTop()"
        >Back home</router-link
      >

      <router-link
        :to="'/project/funfinder'"
        class="btns_next"
        @click="scrollToTop()"
        >Next case</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'Portfolio',

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss">
.portfolio {
  iframe {
    margin: 5vh 0vw 0;
    width: -webkit-fill-available;
    height: 600px;
    animation: show 1s;

    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @media (min-width: 1024px) {
      margin: 10vh 10vw 0;
      max-width: 70%;
    }
  }
}
</style>
