<template>
  <div class="todoList" id="todoList">
    <div class="todoList__heading heading">
      <h1>Todo list</h1>
      <h2>This is a simple but effective way to practice Vue/Vuex.</h2>
    </div>

    <div class="todoList__mockup mockup">
      <img
        src="../../assets/mockup-des-todolist.svg"
        alt="Desktop mockup"
        class="mockup_des"
      />
      <img
        src="../../assets/mockup-tab-todolist.svg"
        alt="Mobile mockup"
        class="mockup_tab"
      />
    </div>

    <!-- LINKS -->
    <div class="portfolio__links links">
      <p>
        Live Demo you can see
        <a href="https://arkhipova.gitlab.io/tasklist/" target="_blank">here</a
        >.
      </p>

      <p>
        The code can you can see in
        <a href="https://gitlab.com/Arkhipova/tasklist" target="_blank"
          >GitLab</a
        >.
      </p>

      <p>
        Layout you can see in
        <a
          href="https://www.figma.com/file/94jaCLWsI75MJ5Tg93bByF/TODO-list?node-id=0%3A1"
          target="_blank"
          >Figma</a
        >.
      </p>
    </div>

    <div class="todoList__btn btns">
      <router-link :to="'/'" class="btns_back" @click="scrollToTop()"
        >Back home</router-link
      >

      <router-link
        :to="'/project/portfolio'"
        class="btns_next"
        @click="scrollToTop()"
        >Next case</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'Todolist',

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="scss"></style>
