<template>
  <canvas ref="canvas"></canvas>

  <router-view></router-view>
</template>

<script>
export default {
  name: 'App',

  // FOR NOISE
  mounted() {
    this.$refs.canvas.height = window.innerHeight;
    this.$refs.canvas.width = window.innerWidth;

    this.generateNoise();
    requestAnimationFrame(this.moveNoise);
  },

  methods: {
    generateNoise() {
      this.noise = document.createElement('canvas');

      this.noise.height = window.innerHeight * 2;
      this.noise.width = window.innerWidth * 2;

      let noiseContext = this.noise.getContext('2d');
      let noiseData = noiseContext.createImageData(
        this.noise.width,
        this.noise.height
      );

      let buffer32 = new Uint32Array(noiseData.data.buffer);
      let len = buffer32.length - 1;
      while (len--) {
        buffer32[len] = Math.random() < 0.5 ? 0 : -1 >> 0;
      }

      noiseContext.putImageData(noiseData, 0, 0);
    },

    moveNoise() {
      let canvas = this.$refs.canvas;
      let context = canvas.getContext('2d');
      let x = Math.random() * canvas.width;
      let y = Math.random() * canvas.height;

      context.clearRect(0, 0, canvas.width, canvas.height);
      context.drawImage(this.noise, -x, -y);
      requestAnimationFrame(this.moveNoise);
    },
  },
};
</script>

<style lang="scss">
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

// GENERAL
html {
  scroll-behavior: smooth;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  animation: show 1s;

  @keyframes show {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

  body {
    width: 100%;

    background: $color-primary;
    font-family: $font;

    // STYLE RESET
    button {
      padding: 0;

      font: inherit;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
    a {
      text-decoration: none;
    }

    img {
      animation: show 1s;

      @keyframes show {
        from {
          opacity: 0.5;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

// NOISE
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;

  opacity: 0.4;
  mix-blend-mode: soft-light;
  pointer-events: none;
}

// SCROLL
@media (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: $color-secondary;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border: 3px solid $color-secondary;
  }
}

// CHANGING BACKGROUND COLOR WHEN SCROLLING
.color-gray {
  background-color: $color-primary;
}
.color-fuchsia {
  background-color: $bg-about;
}
.color-purple {
  background-color: $bg-jobs;
}
.color-blue {
  background-color: $bg-projects;
}
.color-lettuce {
  background-color: $color-tertiary;
}
</style>
