// FONT
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
$font: 'Space Mono', monospace;

// SIZE
$size-1: 0.1rem;
$size-3: 0.3rem;
$size-5: 0.5rem;
$size-10: 1rem;
$size-12: 1.2rem;
$size-14: 1.4rem;
$size-15: 1.5rem;
$size-16: 1.6rem;
$size-18: 1.8rem;
$size-20: 2rem;
$size-22: 2.2rem;
$size-24: 2.4rem;
$size-25: 2.5rem;
$size-30: 3rem;
$size-36: 3.6rem;
$size-40: 4rem;
$size-46: 4.6rem;
$size-50: 5rem;
$size-60: 6rem;
$size-65: 6.5rem;
$size-70: 7rem;
$size-75: 7.5rem;
$size-80: 8rem;
$size-100: 10rem;
$size-120: 12rem;
$size-130: 13rem;
$size-140: 14rem;
$size-150: 15rem;
$size-200: 20rem;
$size-350: 35rem;

// COLOR
$color-primary: #eeeeee;
$color-secondary: #1d1d1d;
$color-tertiary: #90fe22;
$bg-about: #ff57aa;
$bg-jobs: #9e00ff;
$bg-projects: #00a2ff;
$bg-cards: rgba(230, 230, 230, 0.5);
$bg-btn: rgba(29, 29, 29, 0.7);
$color-nav: #53354a;
$bg-nav: #e84545;
